html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f4f4f8;
  padding: 0;
  margin: 0;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

nav {
  background-color: #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #CF1000;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.dropdown-short {
  max-width: 200px;
}

/* Navbar */

/* Ændre navbar font-type, skriftstørrelse og farve */
.navbar {
    font-family: 'Times New Roman'; /* Skift skrifttype her */
    font-size: 500; /* Skift skriftstørrelse her */
    color: white; /* Skift skriftfarve her */
    background-color: forestgreen;
}

.navbar-brand img {
    max-width: 100%;
    height: auto; /* Bevarer billedets proportioner */
}

/* Ændrer skriftstørrelse og farve på nav-link */
.navbar .nav-link {
    font-size: 16px; /* Skift skriftstørrelse her */
    color: #007bff; /* Skift farve her */
}

/* Ændrer farve på nav-link ved hover */
.navbar .nav-link:hover {
    color: #0056b3; /* Skift hover-farve her */
}


/*
    Om os siden
*/

.card-img-top {
    width: 100%;
    height: 600px; /* Fastsætter højden på billederne */
    object-fit: cover; /* Sørger for at billedet fylder hele rammen uden at forvrænge billedets proportioner */
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*

*/
