@page
@using Green_home.Services
@using System.Net
@using Green_home.Model

@model Green_home.Pages.LoginModel

@{
    Admin a = null!;
    try
    {
        a = SessionHelper.Get<Admin>(a, HttpContext);
    }
    catch
    {
        
    }
    
}
<h2 class="text-center">Login</h2>

<div class="row justify-content-center">
    <div class="col-md-6">
        @if (a == null)
        {
            <form method="post" asp-page-handler="Login">
                <div class="mb-3">
                <label asp-for="Brugernavn" class="form-label"></label>
                <input type="text" asp-for="Brugernavn" class="form-control form-control-sm"/>
                <span asp-validation-for="Brugernavn" class="text-danger"></span>
                </div>
                <div class="mb-3">
                <label asp-for="Kodeord" class="form-label"></label>
                <input type="password" asp-for="Kodeord" class="form-control form-control-sm"/>
                <span asp-validation-for="Kodeord" class="text-danger"></span>
                </div>
                <div class="mb-3">
                <button type="submit" class="btn btn-primary">Log ind</button>
                </div>
                <p class="text-danger">@Model.ErrMessage</p>
                </form>

                
        }
        else
        {
            <form method="post" asp-page-handler="Logout">
                <input type="submit" value="Logud"/>
            </form>
        }
    </div>
</div>