@page
@model PrivacyModel
@{
ViewData["Title"] = "Privatlivspolitik";
}

<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
<header class="text-center">
    <h1>@ViewData["Title"]</h1>
</header>
<main role="main" class="container mt-5">

    <p>Denne side er dedikeret til at informere brugere om vores privatlivspolitik. Læs venligst vores politik omhyggeligt for at forstå, hvordan vi indsamler, bruger, beskytter eller på anden måde håndterer dine personlige oplysninger i overensstemmelse med vores hjemmeside.</p>

    <h2>Hvilke personlige oplysninger indsamler vi?</h2>
    <p>Når du besøger vores hjemmeside, kan vi indsamle følgende oplysninger:</p>
    <p>Dit navn, e-mailadresse og telefonnummer, hvis du udfylder en formular.</p>
    <p>Information om din browser, IP-adresse og operativsystem, til statistiske formål.</p>


    <h2>Hvordan bruger vi dine oplysninger?</h2>
    <p>De oplysninger vi indsamler fra dig, kan blive brugt til:</p>

    <p> Forbedre vores hjemmeside for at bedre kunne tjene dig.</p>
    <p>Administrere en konkurrence, kampagne, undersøgelse eller anden site-funktion.</p>
    <p>Send information og opdateringer vedrørende din ordre.</p>
    <p>Sende periodiske e-mails om andre produkter og services.</p>


    <h2 style="font-stretch: condensed">Hvordan beskytter vi dine oplysninger?</h2>
    <p>Vi implementerer en række sikkerhedsforanstaltninger for at opretholde sikkerheden af dine personlige oplysninger. Vores website anvender krypteringsteknologier som SSL certifikat for at beskytte følsomme oplysninger overført online.</p>

    <h2 style="font-family:verdana;">Brug af cookies</h2>
    <p>Vi bruger cookies til at forstå og gemme dine præferencer for fremtidige besøg og samle data om site trafik og site interaktioner, så vi kan tilbyde bedre siteoplevelser og værktøjer i fremtiden.</p>

    <h2>Tredjeparts oplysninger</h2>
    <p>Vi sælger ikke, handler, eller på anden måde overfører til eksterne parter dine personligt identificerbare oplysninger.</p>

    <h2>Dine rettigheder</h2>
    <p>Du har ret til at anmode om adgang til de personoplysninger, vi har om dig, rette dem eller anmode om at få dem slettet. Kontakt os på GreenHome@Home.dk for at gøre brug af dine rettigheder.</p>

</main>
</body>
</html>
