@page "{id:int}"
@model Green_home.Pages.UpdateEjendomModel
@{
    Layout = null;
    ViewData["Title"] = "Opdater Ejendom";
}

@using Green_home.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Green_home.Model

@{
    Admin admin = null;
    try
    {
        admin = SessionHelper.Get<Admin>(admin, HttpContext);
    }
    catch
    {
     
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Green Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Green_home.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/Images/Skærmbillede 2024-05-17 kl. 16.07.21.png" alt="Green Home Logo" width="65px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Green_Home">Green Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Om_os">Om os</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/EjendommeSite">Ejendomme</a>
                        </li>
                        @if (admin != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/CreateEjendomme">Tilføj Ejendom</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/DeleteEjendom">Slet Ejendomme</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login">Log ud</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1 class="text-center mb-4">Opdater Ejendom</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post">
                    <div class="visually-hidden">
                        <input type="hidden" asp-for="Ejendom.Id" />
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="Ejendom.Pris" class="form-label">Pris</label>
                        <input asp-for="Ejendom.Pris" class="form-control"/>
                        <span asp-validation-for="Ejendom.Pris" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Ejendom.Energimærke" class="form-label">Energimærke</label>
                        <input asp-for="Ejendom.Energimærke" class="form-control"/>
                        <span asp-validation-for="Ejendom.Energimærke" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Ejendom.Kvm" class="form-label">Kvm</label>
                        <input asp-for="Ejendom.Kvm" class="form-control"/>
                        <span asp-validation-for="Ejendom.Kvm" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Ejendom.Post_nr" class="form-label">Post nr.</label>
                        <input asp-for="Ejendom.Post_nr" class="form-control"/>
                        <span asp-validation-for="Ejendom.Post_nr" class="text-danger"></span>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Opdater</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
